In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import time
import datetime

In [2]:
# WINDOWS/PC - Import splinter and set the cromedriver path
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

# MAC - Import splinter and set the cromedriver path
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# Scraping Subreddits for Subscriber Count

In [3]:
subreddits = ["AZCardinals", "falcons", "ravens", "buffalobills", "panthers","CHIBears", "bengals", "Browns",
              "cowboys", "DenverBroncos", "detroitlions", "GreenBayPackers", "Texans", "Colts", "Jaguars",
              "KansasCityChiefs", "miamidolphins", "minnesotavikings", "Patriots", "Saints", "NYGiants", "nyjets",
              "oaklandraiders", "eagles", "steelers", "LosAngelesRams", "Chargers", "49ers", "Seahawks", 
              "buccaneers", "Tennesseetitans", "Redskins"]

subcounts = []

In [4]:
for sub in subreddits:
    time.sleep(1)
    url = f"https://www.reddit.com/r/{sub}"
    browser.visit(url)
    time.sleep(1)
    html = browser.html
    soup = bs(html, "html.parser")
    subscribers = int(float(soup.find("p", class_="s1bd5ppi-10").text.split("k")[0])*1000)
    dictionary = {"Subreddit URL (https://www.reddit.com/r/)":sub, "Subs":subscribers}
    subcounts.append(dictionary)

In [5]:
df = pd.DataFrame(subcounts)
teams = pd.read_csv("Teams.csv")

In [6]:
combined = pd.merge(df, teams, on="Subreddit URL (https://www.reddit.com/r/)")
combined = combined.drop(["Subreddit URL (https://www.reddit.com/r/)"], axis=1)
combined.head(32)

,Subs,Team,Stadium City,Real City
0,31800,Arizona Cardinals,"Glendale, Arizona","Phoenix, Arizona"
1,47400,Atlanta Falcons,"Atlanta, Georgia","Atlanta, Georgia"
2,36100,Baltimore Ravens,"Baltimore, Maryland","Baltimore, Maryland"
3,36700,Buffalo Bills,"Orchard Park, New York","Buffalo, New York"
4,36900,Carolina Panthers,"Charlotte, North Carolina","Charlotte, North Carolina"
5,62600,Chicago Bears,"Chicago, Illinois","Chicago, Illinois"
6,37900,Cincinnati Bengals,"Cincinnati, Ohio","Cincinnati, Ohio"
7,53400,Cleveland Browns,"Cleveland, Ohio","Cleveland, Ohio"
8,63600,Dallas Cowboys,"Arlington, Texas","Dallas, Texas"
9,51700,Denver Broncos,"Denver, Colorado","Denver, Colorado"
10,50900,Detroit Lions,"Detroit, Michigan","Detroit, Michigan"
11,99100,Green Bay Packers,"Green Bay, Wisconsin","Green Bay, Wisconsin"
12,36300,Houston Texans,"Houston, Texas","Houston, Texas"
13,32600,Indianapolis Colts,"Indianapolis, Indiana","Indianapolis, Indiana"
14,31200,Jacksonville Jaguars,"Jacksonville, Florida","Jacksonville, Florida"
15,47700,Kansas City Chiefs,"Kansas City, Missouri","Kansas City, Missouri"
16,33300,Miami Dolphins,"Miami Gardens, Florida","Miami, Florida"
17,73600,Minnesota Vikings,"Minneapolis, Minnesota","Minneapolis, Minnesota"
18,173000,New England Patriots,"Foxborough, Massachusetts","Boston, Massachusetts"
19,39300,New Orleans Saints,"New Orleans, Louisiana","New Orleans, Louisiana"
20,50300,New York Giants,"East Rutherford, New Jersey","New York City, New York"
21,33600,New York Jets,"East Rutherford, New Jersey","New York City, New York"
22,34500,Oakland Raiders,"Oakland, California","Oakland, California"
23,150000,Philadelphia Eagles,"Philadelphia, Pennsylvania","Philadelphia, Pennsylvania"
24,60100,Pittsburgh Steelers,"Pittsburgh, Pennsylvania","Pittsburgh, Pennsylvania"
25,73500,Los Angeles Rams,"Los Angeles, California","Los Angeles, California"
26,30100,Los Angeles Chargers,"Carson, California","Los Angeles, California"
27,63400,San Francisco 49ers,"Santa Clara, California","San Francisco, California"
28,72300,Seattle Seahawks,"Seattle, Washington","Seattle, Washington"
29,24800,Tampa Bay Buccaneers,"Tampa, Florida","Tampa, Florida"
30,27000,Tennessee Titans,"Nashville, Tennessee","Nashville, Tennessee"
31,35800,Washington Redskins,"Landover, Maryland","Washington, DC"

In [7]:
combined.to_csv("TeamsSubs.csv", index=False, header=True)

# Scraping Team Values

In [8]:
values_url = "https://www.reddit.com/r/nfl/comments/9hflml/forbes_nfl_2018_team_valuations_most_valuable/"

In [9]:
tables = pd.read_html(values_url)
tables

[                    Team Value(Billions) Revenue(Millions)  \
 0         Dallas Cowboys              $5              $864
 1   New England Patriots            $3.8              $593
 2        New York Giants            $3.3              $493
 3       Los Angeles Rams            $3.2              $366
 4    Washington Redskins            $3.1              $491
 5    San Francisco 49ers           $3.05              $470
 6          Chicago Bears            $2.9              $431
 7          New York Jets           $2.85              $443
 8         Houston Texans            $2.8              $464
 9    Philadelphia Eagles           $2.75              $458
 10        Denver Broncos           $2.65              $427
 11     Green Bay Packers          $2.625              $434
 12       Atlanta Falcons            $2.6              $451
 13      Baltimore Ravens           $2.59              $417
 14   Pittsburgh Steelers          $2.585              $415
 15      Seattle Seahawks           $2.58              $413
 16        Miami Dolphins          $2.575              $414
 17       Oakland Raiders           $2.42              $335
 18     Minnesota Vikings            $2.4              $408
 19    Indianapolis Colts           $2.38              $373
 20     Carolina Panthers            $2.3              $396
 21  Los Angeles Chargers          $2.275              $346
 22     Arizona Cardinals           $2.15              $380
 23    Kansas City Chiefs            $2.1              $380
 24  Jacksonville Jaguars           $2.08              $391
 25    New Orleans Saints          $2.075              $413
 26      Tennessee Titans           $2.05              $371
 27  Tampa Bay Buccaneers              $2              $383
 28      Cleveland Browns           $1.95              $375
 29    Cincinnati Bengals            $1.8              $359
 30         Detroit Lions            $1.7              $361
 31         Buffalo Bills            $1.6              $364

    Operating Income(Millions)[Profit]
 0                                $365
 1                                $235
 2                                $149
 3                                 $68
 4                                $122
 5                                $106
 6                                $100
 7                                $130
 8                                $161
 9                                $114
 10                               $106
 11                                $62
 12                               $113
 13                               $107
 14                                $85
 15                                $71
 16                                $56
 17                                $24
 18                                $90
 19                                $67
 20                                $62
 21                                $48
 22                                $74
 23                                $60
 24                                $63
 25                               $115
 26                                $48
 27                                $88
 28                                $31
 29                                $60
 30                               $4.1
 31                                $67  ]

In [10]:
values_df = tables[0]
values_df.columns = ["Team", "Value ($B)", "Revenue ($M)", "Operating Income ($M)"]

In [11]:
values_combined = pd.merge(combined, values_df, on="Team")
values_combined.head(32)

,Subs,Team,Stadium City,Real City,Value ($B),Revenue ($M),Operating Income ($M)
0,31800,Arizona Cardinals,"Glendale, Arizona","Phoenix, Arizona",$2.15,$380,$74
1,47400,Atlanta Falcons,"Atlanta, Georgia","Atlanta, Georgia",$2.6,$451,$113
2,36100,Baltimore Ravens,"Baltimore, Maryland","Baltimore, Maryland",$2.59,$417,$107
3,36700,Buffalo Bills,"Orchard Park, New York","Buffalo, New York",$1.6,$364,$67
4,36900,Carolina Panthers,"Charlotte, North Carolina","Charlotte, North Carolina",$2.3,$396,$62
5,62600,Chicago Bears,"Chicago, Illinois","Chicago, Illinois",$2.9,$431,$100
6,37900,Cincinnati Bengals,"Cincinnati, Ohio","Cincinnati, Ohio",$1.8,$359,$60
7,53400,Cleveland Browns,"Cleveland, Ohio","Cleveland, Ohio",$1.95,$375,$31
8,63600,Dallas Cowboys,"Arlington, Texas","Dallas, Texas",$5,$864,$365
9,51700,Denver Broncos,"Denver, Colorado","Denver, Colorado",$2.65,$427,$106
10,50900,Detroit Lions,"Detroit, Michigan","Detroit, Michigan",$1.7,$361,$4.1
11,99100,Green Bay Packers,"Green Bay, Wisconsin","Green Bay, Wisconsin",$2.625,$434,$62
12,36300,Houston Texans,"Houston, Texas","Houston, Texas",$2.8,$464,$161
13,32600,Indianapolis Colts,"Indianapolis, Indiana","Indianapolis, Indiana",$2.38,$373,$67
14,31200,Jacksonville Jaguars,"Jacksonville, Florida","Jacksonville, Florida",$2.08,$391,$63
15,47700,Kansas City Chiefs,"Kansas City, Missouri","Kansas City, Missouri",$2.1,$380,$60
16,33300,Miami Dolphins,"Miami Gardens, Florida","Miami, Florida",$2.575,$414,$56
17,73600,Minnesota Vikings,"Minneapolis, Minnesota","Minneapolis, Minnesota",$2.4,$408,$90
18,173000,New England Patriots,"Foxborough, Massachusetts","Boston, Massachusetts",$3.8,$593,$235
19,39300,New Orleans Saints,"New Orleans, Louisiana","New Orleans, Louisiana",$2.075,$413,$115
20,50300,New York Giants,"East Rutherford, New Jersey","New York City, New York",$3.3,$493,$149
21,33600,New York Jets,"East Rutherford, New Jersey","New York City, New York",$2.85,$443,$130
22,34500,Oakland Raiders,"Oakland, California","Oakland, California",$2.42,$335,$24
23,150000,Philadelphia Eagles,"Philadelphia, Pennsylvania","Philadelphia, Pennsylvania",$2.75,$458,$114
24,60100,Pittsburgh Steelers,"Pittsburgh, Pennsylvania","Pittsburgh, Pennsylvania",$2.585,$415,$85
25,73500,Los Angeles Rams,"Los Angeles, California","Los Angeles, California",$3.2,$366,$68
26,30100,Los Angeles Chargers,"Carson, California","Los Angeles, California",$2.275,$346,$48
27,63400,San Francisco 49ers,"Santa Clara, California","San Francisco, California",$3.05,$470,$106
28,72300,Seattle Seahawks,"Seattle, Washington","Seattle, Washington",$2.58,$413,$71
29,24800,Tampa Bay Buccaneers,"Tampa, Florida","Tampa, Florida",$2,$383,$88
30,27000,Tennessee Titans,"Nashville, Tennessee","Nashville, Tennessee",$2.05,$371,$48
31,35800,Washington Redskins,"Landover, Maryland","Washington, DC",$3.1,$491,$122

In [12]:
values_combined.to_csv("TeamsSubsValues.csv", index=False, header=True)

# Scraping City Populations

In [13]:
cities = values_combined["Real City"].tolist()
cities

['Phoenix, Arizona',
 'Atlanta, Georgia',
 'Baltimore, Maryland',
 'Buffalo, New York',
 'Charlotte, North Carolina',
 'Chicago, Illinois',
 'Cincinnati, Ohio',
 'Cleveland, Ohio',
 'Dallas, Texas',
 'Denver, Colorado',
 'Detroit, Michigan',
 'Green Bay, Wisconsin',
 'Houston, Texas',
 'Indianapolis, Indiana',
 'Jacksonville, Florida',
 'Kansas City, Missouri',
 'Miami, Florida',
 'Minneapolis, Minnesota',
 'Boston, Massachusetts',
 'New Orleans, Louisiana',
 'New York City, New York',
 'New York City, New York',
 'Oakland, California',
 'Philadelphia, Pennsylvania',
 'Pittsburgh, Pennsylvania',
 'Los Angeles, California',
 'Los Angeles, California',
 'San Francisco, California',
 'Seattle, Washington',
 'Tampa, Florida',
 'Nashville, Tennessee',
 'Washington, DC']

In [14]:
cities = [item.replace(", ", "-") for item in cities]
cities = [item.replace("New York City", "New York") for item in cities]
cities = [item.replace(" ", "-") for item in cities]
cities = [item.replace("Nashville-Tennessee", "Nashville-Davidson-Tennessee") for item in cities]
cities = [item.replace("Washington-DC", "Washington-District-of-Columbia") for item in cities]
cities_urls = [item + ".html" for item in cities]
cities_urls

['Phoenix-Arizona.html',
 'Atlanta-Georgia.html',
 'Baltimore-Maryland.html',
 'Buffalo-New-York.html',
 'Charlotte-North-Carolina.html',
 'Chicago-Illinois.html',
 'Cincinnati-Ohio.html',
 'Cleveland-Ohio.html',
 'Dallas-Texas.html',
 'Denver-Colorado.html',
 'Detroit-Michigan.html',
 'Green-Bay-Wisconsin.html',
 'Houston-Texas.html',
 'Indianapolis-Indiana.html',
 'Jacksonville-Florida.html',
 'Kansas-City-Missouri.html',
 'Miami-Florida.html',
 'Minneapolis-Minnesota.html',
 'Boston-Massachusetts.html',
 'New-Orleans-Louisiana.html',
 'New-York-New-York.html',
 'New-York-New-York.html',
 'Oakland-California.html',
 'Philadelphia-Pennsylvania.html',
 'Pittsburgh-Pennsylvania.html',
 'Los-Angeles-California.html',
 'Los-Angeles-California.html',
 'San-Francisco-California.html',
 'Seattle-Washington.html',
 'Tampa-Florida.html',
 'Nashville-Davidson-Tennessee.html',
 'Washington-District-of-Columbia.html']

In [15]:
values_combined['City URL'] = pd.Series(cities_urls)
values_combined.head(32)

,Subs,Team,Stadium City,Real City,Value ($B),Revenue ($M),Operating Income ($M),City URL
0,31800,Arizona Cardinals,"Glendale, Arizona","Phoenix, Arizona",$2.15,$380,$74,Phoenix-Arizona.html
1,47400,Atlanta Falcons,"Atlanta, Georgia","Atlanta, Georgia",$2.6,$451,$113,Atlanta-Georgia.html
2,36100,Baltimore Ravens,"Baltimore, Maryland","Baltimore, Maryland",$2.59,$417,$107,Baltimore-Maryland.html
3,36700,Buffalo Bills,"Orchard Park, New York","Buffalo, New York",$1.6,$364,$67,Buffalo-New-York.html
4,36900,Carolina Panthers,"Charlotte, North Carolina","Charlotte, North Carolina",$2.3,$396,$62,Charlotte-North-Carolina.html
5,62600,Chicago Bears,"Chicago, Illinois","Chicago, Illinois",$2.9,$431,$100,Chicago-Illinois.html
6,37900,Cincinnati Bengals,"Cincinnati, Ohio","Cincinnati, Ohio",$1.8,$359,$60,Cincinnati-Ohio.html
7,53400,Cleveland Browns,"Cleveland, Ohio","Cleveland, Ohio",$1.95,$375,$31,Cleveland-Ohio.html
8,63600,Dallas Cowboys,"Arlington, Texas","Dallas, Texas",$5,$864,$365,Dallas-Texas.html
9,51700,Denver Broncos,"Denver, Colorado","Denver, Colorado",$2.65,$427,$106,Denver-Colorado.html
10,50900,Detroit Lions,"Detroit, Michigan","Detroit, Michigan",$1.7,$361,$4.1,Detroit-Michigan.html
11,99100,Green Bay Packers,"Green Bay, Wisconsin","Green Bay, Wisconsin",$2.625,$434,$62,Green-Bay-Wisconsin.html
12,36300,Houston Texans,"Houston, Texas","Houston, Texas",$2.8,$464,$161,Houston-Texas.html
13,32600,Indianapolis Colts,"Indianapolis, Indiana","Indianapolis, Indiana",$2.38,$373,$67,Indianapolis-Indiana.html
14,31200,Jacksonville Jaguars,"Jacksonville, Florida","Jacksonville, Florida",$2.08,$391,$63,Jacksonville-Florida.html
15,47700,Kansas City Chiefs,"Kansas City, Missouri","Kansas City, Missouri",$2.1,$380,$60,Kansas-City-Missouri.html
16,33300,Miami Dolphins,"Miami Gardens, Florida","Miami, Florida",$2.575,$414,$56,Miami-Florida.html
17,73600,Minnesota Vikings,"Minneapolis, Minnesota","Minneapolis, Minnesota",$2.4,$408,$90,Minneapolis-Minnesota.html
18,173000,New England Patriots,"Foxborough, Massachusetts","Boston, Massachusetts",$3.8,$593,$235,Boston-Massachusetts.html
19,39300,New Orleans Saints,"New Orleans, Louisiana","New Orleans, Louisiana",$2.075,$413,$115,New-Orleans-Louisiana.html
20,50300,New York Giants,"East Rutherford, New Jersey","New York City, New York",$3.3,$493,$149,New-York-New-York.html
21,33600,New York Jets,"East Rutherford, New Jersey","New York City, New York",$2.85,$443,$130,New-York-New-York.html
22,34500,Oakland Raiders,"Oakland, California","Oakland, California",$2.42,$335,$24,Oakland-California.html
23,150000,Philadelphia Eagles,"Philadelphia, Pennsylvania","Philadelphia, Pennsylvania",$2.75,$458,$114,Philadelphia-Pennsylvania.html
24,60100,Pittsburgh Steelers,"Pittsburgh, Pennsylvania","Pittsburgh, Pennsylvania",$2.585,$415,$85,Pittsburgh-Pennsylvania.html
25,73500,Los Angeles Rams,"Los Angeles, California","Los Angeles, California",$3.2,$366,$68,Los-Angeles-California.html
26,30100,Los Angeles Chargers,"Carson, California","Los Angeles, California",$2.275,$346,$48,Los-Angeles-California.html
27,63400,San Francisco 49ers,"Santa Clara, California","San Francisco, California",$3.05,$470,$106,San-Francisco-California.html
28,72300,Seattle Seahawks,"Seattle, Washington","Seattle, Washington",$2.58,$413,$71,Seattle-Washington.html
29,24800,Tampa Bay Buccaneers,"Tampa, Florida","Tampa, Florida",$2,$383,$88,Tampa-Florida.html
30,27000,Tennessee Titans,"Nashville, Tennessee","Nashville, Tennessee",$2.05,$371,$48,Nashville-Davidson-Tennessee.html
31,35800,Washington Redskins,"Landover, Maryland","Washington, DC",$3.1,$491,$122,Washington-District-of-Columbia.html

In [16]:
populations = []

for city in cities_urls:
    pop_url = f"http://www.city-data.com/city/{city}"
    browser.visit(pop_url)
    time.sleep(1)
    pop_html = browser.html
    pop_soup = bs(pop_html, "html.parser")
    population = int(float(pop_soup.find("section", class_="city-population").text.split(":")[1].strip().replace(",","")))
    pop_dictionary = {"City URL":city, "Population (2016)":population}
    populations.append(pop_dictionary)

In [17]:
pop_df = pd.DataFrame(populations)
values_pop_df = pd.merge(values_combined, pop_df, on="City URL")
values_pop_df = values_pop_df.drop(["City URL"], axis=1)
values_pop_df = values_pop_df.drop([21, 23, 28, 30])
values_pop_df = values_pop_df.reset_index()
values_pop_df.head(32)

,index,Subs,Team,Stadium City,Real City,Value ($B),Revenue ($M),Operating Income ($M),Population (2016)
0,0,31800,Arizona Cardinals,"Glendale, Arizona","Phoenix, Arizona",$2.15,$380,$74,1615041
1,1,47400,Atlanta Falcons,"Atlanta, Georgia","Atlanta, Georgia",$2.6,$451,$113,472506
2,2,36100,Baltimore Ravens,"Baltimore, Maryland","Baltimore, Maryland",$2.59,$417,$107,614664
3,3,36700,Buffalo Bills,"Orchard Park, New York","Buffalo, New York",$1.6,$364,$67,256908
4,4,36900,Carolina Panthers,"Charlotte, North Carolina","Charlotte, North Carolina",$2.3,$396,$62,842029
5,5,62600,Chicago Bears,"Chicago, Illinois","Chicago, Illinois",$2.9,$431,$100,2704965
6,6,37900,Cincinnati Bengals,"Cincinnati, Ohio","Cincinnati, Ohio",$1.8,$359,$60,298802
7,7,53400,Cleveland Browns,"Cleveland, Ohio","Cleveland, Ohio",$1.95,$375,$31,385810
8,8,63600,Dallas Cowboys,"Arlington, Texas","Dallas, Texas",$5,$864,$365,1317942
9,9,51700,Denver Broncos,"Denver, Colorado","Denver, Colorado",$2.65,$427,$106,693060
10,10,50900,Detroit Lions,"Detroit, Michigan","Detroit, Michigan",$1.7,$361,$4.1,672829
11,11,99100,Green Bay Packers,"Green Bay, Wisconsin","Green Bay, Wisconsin",$2.625,$434,$62,105142
12,12,36300,Houston Texans,"Houston, Texas","Houston, Texas",$2.8,$464,$161,2304388
13,13,32600,Indianapolis Colts,"Indianapolis, Indiana","Indianapolis, Indiana",$2.38,$373,$67,852506
14,14,31200,Jacksonville Jaguars,"Jacksonville, Florida","Jacksonville, Florida",$2.08,$391,$63,880623
15,15,47700,Kansas City Chiefs,"Kansas City, Missouri","Kansas City, Missouri",$2.1,$380,$60,481360
16,16,33300,Miami Dolphins,"Miami Gardens, Florida","Miami, Florida",$2.575,$414,$56,453584
17,17,73600,Minnesota Vikings,"Minneapolis, Minnesota","Minneapolis, Minnesota",$2.4,$408,$90,413645
18,18,173000,New England Patriots,"Foxborough, Massachusetts","Boston, Massachusetts",$3.8,$593,$235,672840
19,19,39300,New Orleans Saints,"New Orleans, Louisiana","New Orleans, Louisiana",$2.075,$413,$115,391495
20,20,50300,New York Giants,"East Rutherford, New Jersey","New York City, New York",$3.3,$493,$149,8537673
21,22,33600,New York Jets,"East Rutherford, New Jersey","New York City, New York",$2.85,$443,$130,8537673
22,24,34500,Oakland Raiders,"Oakland, California","Oakland, California",$2.42,$335,$24,419987
23,25,150000,Philadelphia Eagles,"Philadelphia, Pennsylvania","Philadelphia, Pennsylvania",$2.75,$458,$114,1567872
24,26,60100,Pittsburgh Steelers,"Pittsburgh, Pennsylvania","Pittsburgh, Pennsylvania",$2.585,$415,$85,303624
25,27,73500,Los Angeles Rams,"Los Angeles, California","Los Angeles, California",$3.2,$366,$68,3976324
26,29,30100,Los Angeles Chargers,"Carson, California","Los Angeles, California",$2.275,$346,$48,3976324
27,31,63400,San Francisco 49ers,"Santa Clara, California","San Francisco, California",$3.05,$470,$106,870887
28,32,72300,Seattle Seahawks,"Seattle, Washington","Seattle, Washington",$2.58,$413,$71,704358
29,33,24800,Tampa Bay Buccaneers,"Tampa, Florida","Tampa, Florida",$2,$383,$88,377172
30,34,27000,Tennessee Titans,"Nashville, Tennessee","Nashville, Tennessee",$2.05,$371,$48,660393
31,35,35800,Washington Redskins,"Landover, Maryland","Washington, DC",$3.1,$491,$122,681170

In [18]:
values_pop_df.to_csv("TeamsSubsValuesPops.csv", index=False, header=True)

# Scraping Team Ages

In [19]:
ages_url = "https://en.wikipedia.org/wiki/National_Football_League"

In [20]:
ages_tables = pd.read_html(ages_url)
ages_tables

[                                                 0  \
 0   Upcoming season or competition: 2019 NFL Draft
 1                                              NaN
 2                                         Formerly
 3                                            Sport
 4                                          Founded
 5                                 Inaugural season
 6                                     Commissioner
 7                                     No. of teams
 8                                          Country
 9                                     Headquarters
 10                          Most recentchampion(s)
 11                                     Most titles
 12                                   TV partner(s)
 13                                Official website

                                                     1
 0      Upcoming season or competition: 2019 NFL Draft
 1                                                 NaN
 2   American Professional Football Conference (192...
 3                                   American football
 4                    August20, 1920; 98 years ago[1]
 5                                                1920
 6                                       Roger Goodell
 7                                                  32
 8                                    United States[A]
 9                                       New York City
 10                    New England Patriots(6th title)
 11                    Green Bay Packers(13 titles)[B]
 12         CBSFoxNBCESPNNFL NetworkTelemundo Deportes
 13                                        www.nfl.com  ,
                                           0
 0  Map all coordinates using: OpenStreetMap
 1        Download coordinates as: KMLGPX,
                                          Division[57]  \
                          American Football Conference
 0                                                East
 1                                                East
 2                                                East
 3                                                East
 4                                               North
 5                                               North
 6                                               North
 7                                               North
 8                                               South
 9                                               South
 10                                              South
 11                                              South
 12                                               West
 13                                               West
 14                                               West
 15                                               West
 16                       National Football Conference
 17                                               East
 18                                               East
 19                                               East
 20                                               East
 21                                              North
 22                                              North
 23                                              North
 24                                              North
 25                                              South
 26                                              South
 27                                              South
 28                                              South
 29                                               West
 30                                               West
 31                                               West
 32                                               West
 33  * denotes that the club has relocated at some ...

                                              Club[57]  \
                          American Football Conference
 0                                       Buffalo Bills
 1                                      Miami Dolphins
 2                                New England Patriots
 3                                       New York Jets
 4                                    Baltimore Ravens
 5                                  Cincinnati Bengals
 6                                    Cleveland Browns
 7                                 Pittsburgh Steelers
 8                                      Houston Texans
 9                                 Indianapolis Colts*
 10                               Jacksonville Jaguars
 11                                  Tennessee Titans*
 12                                     Denver Broncos
 13                                Kansas City Chiefs*
 14                              Los Angeles Chargers*
 15                                   Oakland Raiders*
 16                       National Football Conference
 17                                     Dallas Cowboys
 18                                    New York Giants
 19                                Philadelphia Eagles
 20                               Washington Redskins*
 21                                    Chicago Bears*
 22                                     Detroit Lions*
 23                                  Green Bay Packers
 24                                  Minnesota Vikings
 25                                    Atlanta Falcons
 26                                  Carolina Panthers
 27                                 New Orleans Saints
 28                               Tampa Bay Buccaneers
 29                                Arizona Cardinals*
 30                                  Los Angeles Rams*
 31                                San Francisco 49ers
 32                                   Seattle Seahawks
 33  * denotes that the club has relocated at some ...

                                                  City  \
                          American Football Conference
 0                              Orchard Park, New York
 1                              Miami Gardens, Florida
 2                           Foxborough, Massachusetts
 3                         East Rutherford, New Jersey
 4                                 Baltimore, Maryland
 5                                    Cincinnati, Ohio
 6                                     Cleveland, Ohio
 7                            Pittsburgh, Pennsylvania
 8                                      Houston, Texas
 9                               Indianapolis, Indiana
 10                              Jacksonville, Florida
 11                               Nashville, Tennessee
 12                                   Denver, Colorado
 13                              Kansas City, Missouri
 14                                 Carson, California
 15                                Oakland, California
 16                       National Football Conference
 17                                   Arlington, Texas
 18                        East Rutherford, New Jersey
 19                         Philadelphia, Pennsylvania
 20                                 Landover, Maryland
 21                                  Chicago, Illinois
 22                                  Detroit, Michigan
 23                               Green Bay, Wisconsin
 24                             Minneapolis, Minnesota
 25                                   Atlanta, Georgia
 26                          Charlotte, North Carolina
 27                             New Orleans, Louisiana
 28                                     Tampa, Florida
 29                                  Glendale, Arizona
 30                            Los Angeles, California
 31                            Santa Clara, California
 32                                Seattle, Washington
 33  * denotes that the club has relocated at some ...

                                           Stadium[58]  \
                          American Football Conference
 0                                       New Era Field
 1                                   Hard Rock Stadium
 2                                    Gillette Stadium
 3                                  MetLife Stadium[C]
 4                                    M&T Bank Stadium
 5                                  Paul Brown Stadium
 6                                 FirstEnergy Stadium
 7                                         Heinz Field
 8                                         NRG Stadium
 9                                   Lucas Oil Stadium
 10                                 TIAA Bank Field[E]
 11                                     Nissan Stadium
 12                       Broncos Stadium at Mile High
 13                                  Arrowhead Stadium
 14                      Dignity Health Sports Park[F]
 15                    OaklandAlameda County Coliseum
 16                       National Football Conference
 17                                       AT&T Stadium
 18                                 MetLife Stadium[C]
 19                            Lincoln Financial Field
 20                                         FedExField
 21                                      Soldier Field
 22                                         Ford Field
 23                                      Lambeau Field
 24                                  U.S. Bank Stadium
 25                              Mercedes-Benz Stadium
 26                            Bank of America Stadium
 27                            Mercedes-Benz Superdome
 28                              Raymond James Stadium
 29                                 State Farm Stadium
 30                   Los Angeles Memorial Coliseum[F]
 31                                     Levi's Stadium
 32                                  CenturyLink Field
 33  * denotes that the club has relocated at some ...

                                              Capacity  \
                          American Football Conference
 0                                               71608
 1                                               64767
 2                                               65878
 3                                               82500
 4                                               71008
 5                                               65515
 6                                               67895
 7                                               68400
 8                                               71995
 9                                               67000
 10                                              67814
 11                                              69143
 12                                              76125
 13                                              76416
 14                                              27000
 15                                              56057
 16                       National Football Conference
 17                                              80000
 18                                              82500
 19                                              69176
 20                                              82000
 21                                              61500
 22                                              65000
 23                                              81441
 24                                              66860
 25                                              71000
 26                                              75523
 27                                              73208
 28                                              65618
 29                                              63400
 30                                              78500
 31                                              68500
 32                                              69000
 33  * denotes that the club has relocated at some ...

                                           Coordinates  \
                          American Football Conference
 0         424626N 784713W / 42.774N 78.787W
 1         255729N 801420W / 25.958N 80.239W
 2         420528N 711550W / 42.091N 71.264W
 3         404850N 740426W / 40.814N 74.074W
 4         391641N 763723W / 39.278N 76.623W
 5         390542N 843058W / 39.095N 84.516W
 6         413022N 814156W / 41.506N 81.699W
 7         402649N 800058W / 40.447N 80.016W
 8         294106N 952440W / 29.685N 95.411W
 9         394536N 860950W / 39.760N 86.164W
 10        301926N 813817W / 30.324N 81.638W
 11        360958N 864616W / 36.166N 86.771W
 12      394438N 1050112W / 39.744N 105.020W
 13        390256N 942902W / 39.049N 94.484W
 14      335150N 1181540W / 33.864N 118.261W
 15      374507N 1221204W / 37.752N 122.201W
 16                       National Football Conference
 17        324453N 970535W / 32.748N 97.093W
 18        404850N 740426W / 40.814N 74.074W
 19        395404N 751005W / 39.901N 75.168W
 20        385429N 765150W / 38.908N 76.864W
 21        415147N 873701W / 41.863N 87.617W
 22        422024N 830246W / 42.340N 83.046W
 23        443004N 880343W / 44.501N 88.062W
 24        445826N 931529W / 44.974N 93.258W
 25        334518N 842404W / 33.755N 84.401W
 26        351334N 805111W / 35.226N 80.853W
 27        295704N 900452W / 29.951N 90.081W
 28        275834N 823011W / 27.976N 82.503W
 29      333141N 1121547W / 33.528N 112.263W
 30      340050N 1181717W / 34.014N 118.288W
 31      372411N 1215812W / 37.403N 121.970W
 32      473542N 1221955W / 47.595N 122.332W
 33  * denotes that the club has relocated at some ...

                                      First season[59]  \
                          American Football Conference
 0                              1960 (AFL), 1970 (NFL)
 1                              1966 (AFL), 1970 (NFL)
 2                              1960 (AFL), 1970 (NFL)
 3                              1960 (AFL), 1970 (NFL)
 4                                             1996[D]
 5                              1968 (AFL), 1970 (NFL)
 6                          1946 (AAFC), 1950 (NFL)[D]
 7                                                1933
 8                                                2002
 9                                                1953
 10                                               1995
 11                             1960 (AFL), 1970 (NFL)
 12                             1960 (AFL), 1970 (NFL)
 13                             1960 (AFL), 1970 (NFL)
 14                             1960 (AFL), 1970 (NFL)
 15                             1960 (AFL), 1970 (NFL)
 16                       National Football Conference
 17                                               1960
 18                                               1925
 19                                               1933
 20                                               1932
 21                                               1920
 22                                               1930
 23                                               1921
 24                                               1961
 25                                               1966
 26                                               1995
 27                                               1967
 28                                               1976
 29                                               1920
 30                      1936 (Second AFL), 1937 (NFL)
 31                            1946 (AAFC), 1950 (NFL)
 32                                               1976
 33  * denotes that the club has relocated at some ...

                                            Head coach
                          American Football Conference
 0                                      Sean McDermott
 1                                        Brian Flores
 2                                      Bill Belichick
 3                                           Adam Gase
 4                                       John Harbaugh
 5                                          Zac Taylor
 6                                    Freddie Kitchens
 7                                         Mike Tomlin
 8                                        Bill O'Brien
 9                                         Frank Reich
 10                                       Doug Marrone
 11                                        Mike Vrabel
 12                                         Vic Fangio
 13                                          Andy Reid
 14                                       Anthony Lynn
 15                                         Jon Gruden
 16                       National Football Conference
 17                                      Jason Garrett
 18                                        Pat Shurmur
 19                                      Doug Pederson
 20                                         Jay Gruden
 21                                          Matt Nagy
 22                                      Matt Patricia
 23                                       Matt LaFleur
 24                                        Mike Zimmer
 25                                          Dan Quinn
 26                                         Ron Rivera
 27                                        Sean Payton
 28                                       Bruce Arians
 29                                    Kliff Kingsbury
 30                                         Sean McVay
 31                                      Kyle Shanahan
 32                                       Pete Carroll
 33  * denotes that the club has relocated at some ...  ,
    POS  NFC East  NFC North   NFC South   NFC West
 0  1st    Eagles    Vikings      Saints       Rams
 1  2nd   Cowboys      Lions    Panthers   Seahawks
 2  3rd  Redskins    Packers     Falcons  Cardinals
 3  4th    Giants      Bears  Buccaneers      49ers
 4  NaN       NaN        NaN         NaN        NaN
 5  POS  AFC East  AFC North   AFC South   AFC West
 6  1st  Patriots   Steelers     Jaguars     Chiefs
 7  2nd     Bills     Ravens      Titans   Chargers
 8  3rd  Dolphins    Bengals       Colts    Raiders
 9  4th      Jets     Browns      Texans    Broncos,
     0                                                  1
 0 NaN  Wikimedia Commons has media related to Nationa...,
     0                                                  1
 0 NaN  Wikivoyage has a travel guide for American Foo...,
                    vteNational Football League (2019)  \
 0                                                 AFC
 1   EastNorthSouthWest Buffalo Bills Miami Dolphin...
 2                                                East
 3   Buffalo Bills Miami Dolphins New England Patri...
 4                                                 NFC
 5   EastNorthSouthWest Dallas Cowboys New York Gia...
 6                                                East
 7   Dallas Cowboys New York Giants Philadelphia Ea...
 8   Seasons Seasons(by team) Preseason Hall of Fa...
 9                                             Seasons
 10                                            History
 11                                           Business
 12                                              Other

                  vteNational Football League (2019).1  \
 0   EastNorthSouthWest Buffalo Bills Miami Dolphin...
 1   EastNorthSouthWest Buffalo Bills Miami Dolphin...
 2                                               North
 3   Baltimore Ravens Cincinnati Bengals Cleveland ...
 4   EastNorthSouthWest Dallas Cowboys New York Gia...
 5   EastNorthSouthWest Dallas Cowboys New York Gia...
 6                                               North
 7   Chicago Bears Detroit Lions Green Bay Packers ...
 8   Seasons Seasons(by team) Preseason Hall of Fa...
 9   Seasons(by team) Preseason Hall of Fame Game ...
 10  League history Executive history Championship ...
 11  Owners Properties Management Council Competiti...
 12  Officials Stadiums Chronology Awards All-Pro H...

                                            Unnamed: 2  \
 0                                                 NaN
 1                                                 NaN
 2                                               South
 3   Houston Texans Indianapolis Colts Jacksonville...
 4                                                 NaN

In [21]:
ages_df = ages_tables[2]
ages_df = ages_df[["Club[57]", 'First season[59]']]
ages_df.columns = ["Team", "Founded"]
years = ages_df["Founded"].tolist()
years = [item[:4] for item in years]
del years[16]
years = years[:-1]
years = [int(item) for item in years]

In [22]:
teams = ages_df["Team"].tolist()
del teams[16]
del teams[32]

In [23]:
cleanteams = []

for foo in teams:
    try:
        team = foo.split("*")[0]
        cleanteams.append(team)
    except:
        cleanteams.append(foo)

In [24]:
teamages = []
currentyear = datetime.date.today().year

for x in years:
    teamage = currentyear - x
    teamages.append(teamage)

In [25]:
ages_df = pd.DataFrame({
    "Team": cleanteams,
    "Team Age": teamages
})

In [26]:
ages_df.head(32)

                    Team  Team Age
0          Buffalo Bills        59
1         Miami Dolphins        53
2   New England Patriots        59
3          New York Jets        59
4       Baltimore Ravens        23
5     Cincinnati Bengals        51
6       Cleveland Browns        73
7    Pittsburgh Steelers        86
8         Houston Texans        17
9     Indianapolis Colts        66
10  Jacksonville Jaguars        24
11      Tennessee Titans        59
12        Denver Broncos        59
13    Kansas City Chiefs        59
14  Los Angeles Chargers        59
15       Oakland Raiders        59
16        Dallas Cowboys        59
17       New York Giants        94
18   Philadelphia Eagles        86
19   Washington Redskins        87
20         Chicago Bears        99
21         Detroit Lions        89
22     Green Bay Packers        98
23     Minnesota Vikings        58
24       Atlanta Falcons        53
25     Carolina Panthers        24
26    New Orleans Saints        52
27  Tampa Bay Buccaneers        43
28     Arizona Cardinals        99
29      Los Angeles Rams        83
30   San Francisco 49ers        73
31      Seattle Seahawks        43

In [27]:
final_df = pd.merge(values_pop_df, ages_df, on="Team")
final_df = final_df.drop(["index"], axis=1)
final_df.head(32)

,Subs,Team,Stadium City,Real City,Value ($B),Revenue ($M),Operating Income ($M),Population (2016),Team Age
0,31800,Arizona Cardinals,"Glendale, Arizona","Phoenix, Arizona",$2.15,$380,$74,1615041,99
1,47400,Atlanta Falcons,"Atlanta, Georgia","Atlanta, Georgia",$2.6,$451,$113,472506,53
2,36100,Baltimore Ravens,"Baltimore, Maryland","Baltimore, Maryland",$2.59,$417,$107,614664,23
3,36700,Buffalo Bills,"Orchard Park, New York","Buffalo, New York",$1.6,$364,$67,256908,59
4,36900,Carolina Panthers,"Charlotte, North Carolina","Charlotte, North Carolina",$2.3,$396,$62,842029,24
5,62600,Chicago Bears,"Chicago, Illinois","Chicago, Illinois",$2.9,$431,$100,2704965,99
6,37900,Cincinnati Bengals,"Cincinnati, Ohio","Cincinnati, Ohio",$1.8,$359,$60,298802,51
7,53400,Cleveland Browns,"Cleveland, Ohio","Cleveland, Ohio",$1.95,$375,$31,385810,73
8,63600,Dallas Cowboys,"Arlington, Texas","Dallas, Texas",$5,$864,$365,1317942,59
9,51700,Denver Broncos,"Denver, Colorado","Denver, Colorado",$2.65,$427,$106,693060,59
10,50900,Detroit Lions,"Detroit, Michigan","Detroit, Michigan",$1.7,$361,$4.1,672829,89
11,99100,Green Bay Packers,"Green Bay, Wisconsin","Green Bay, Wisconsin",$2.625,$434,$62,105142,98
12,36300,Houston Texans,"Houston, Texas","Houston, Texas",$2.8,$464,$161,2304388,17
13,32600,Indianapolis Colts,"Indianapolis, Indiana","Indianapolis, Indiana",$2.38,$373,$67,852506,66
14,31200,Jacksonville Jaguars,"Jacksonville, Florida","Jacksonville, Florida",$2.08,$391,$63,880623,24
15,47700,Kansas City Chiefs,"Kansas City, Missouri","Kansas City, Missouri",$2.1,$380,$60,481360,59
16,33300,Miami Dolphins,"Miami Gardens, Florida","Miami, Florida",$2.575,$414,$56,453584,53
17,73600,Minnesota Vikings,"Minneapolis, Minnesota","Minneapolis, Minnesota",$2.4,$408,$90,413645,58
18,173000,New England Patriots,"Foxborough, Massachusetts","Boston, Massachusetts",$3.8,$593,$235,672840,59
19,39300,New Orleans Saints,"New Orleans, Louisiana","New Orleans, Louisiana",$2.075,$413,$115,391495,52
20,50300,New York Giants,"East Rutherford, New Jersey","New York City, New York",$3.3,$493,$149,8537673,94
21,33600,New York Jets,"East Rutherford, New Jersey","New York City, New York",$2.85,$443,$130,8537673,59
22,34500,Oakland Raiders,"Oakland, California","Oakland, California",$2.42,$335,$24,419987,59
23,150000,Philadelphia Eagles,"Philadelphia, Pennsylvania","Philadelphia, Pennsylvania",$2.75,$458,$114,1567872,86
24,60100,Pittsburgh Steelers,"Pittsburgh, Pennsylvania","Pittsburgh, Pennsylvania",$2.585,$415,$85,303624,86
25,73500,Los Angeles Rams,"Los Angeles, California","Los Angeles, California",$3.2,$366,$68,3976324,83
26,30100,Los Angeles Chargers,"Carson, California","Los Angeles, California",$2.275,$346,$48,3976324,59
27,63400,San Francisco 49ers,"Santa Clara, California","San Francisco, California",$3.05,$470,$106,870887,73
28,72300,Seattle Seahawks,"Seattle, Washington","Seattle, Washington",$2.58,$413,$71,704358,43
29,24800,Tampa Bay Buccaneers,"Tampa, Florida","Tampa, Florida",$2,$383,$88,377172,43
30,27000,Tennessee Titans,"Nashville, Tennessee","Nashville, Tennessee",$2.05,$371,$48,660393,59
31,35800,Washington Redskins,"Landover, Maryland","Washington, DC",$3.1,$491,$122,681170,87

In [28]:
final_df.to_csv("TeamsSubsValuesPopsAges.csv", index=False, header=True)

# Loading to AWS DB

In [ ]:
from sqlalchemy import create_engine
from config import remote_db_endpoint, remote_db_port
from config import remote_gwsis_dbname, remote_gwsis_dbuser, remote_gwsis_dbpwd
import pymysql
import pandas as pd
pymysql.install_as_MySQLdb()
# endpoint: gwda-etl-project.c2supt4qfmve.us-east-2.rds.amazonaws.com

In [ ]:
engine = create_engine(f"mysql://{remote_gwsis_dbuser}:{remote_gwsis_dbpwd}@{remote_db_endpoint}:{remote_db_port}/{remote_gwsis_dbname}")
conn = engine.connect()

In [ ]:
team_df = pd.read_csv("Teams.csv")
teams_load = team_df
teams_load.to_sql(name='Teams', if_exists='append', con=conn, chunksize=500, index=False)

In [ ]:
subs_df = pd.read_csv("TeamsSubs.csv")
subs_load = subs_df
subs_load.to_sql(name='Subscribers', if_exists='append', con=conn, chunksize=500, index=False)

In [ ]:
values_df = pd.read_csv("TeamsSubsValues.csv")
values_load = values_df
values_load.to_sql(name='Valuations', if_exists='append', con=conn, chunksize=500, index=False)

In [ ]:
pops_df = pd.read_csv("TeamsSubsValuesPops.csv")
pops_load = pops_df
pops_load.to_sql(name='Populations', if_exists='append', con=conn, chunksize=500, index=False)

In [ ]:
final_df = pd.read_csv("TeamsSubsValuesPopsAges.csv")
final_load = final_df
final_load.to_sql(name='Final', if_exists='append', con=conn, chunksize=500, index=False)

# Loading to Salesforce

In [ ]:
import requests
import base64
from base64 import b64encode 
import json
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import pandas as pd

from config import remote_db_endpoint, remote_db_port
from config import remote_gwsis_dbname, remote_gwsis_dbuser, remote_gwsis_dbpwd

from config import sf_grant_type, sf_client_id, sf_client_secret, sf_username, sf_password, sf_endpoint

In [ ]:
params = {
    "grant_type": sf_grant_type,
    "client_id": sf_client_id, # Consumer Key
    "client_secret": sf_client_secret, # Consumer Secret
    "username": sf_username, # The email you use to login
    "password": sf_password # Concat your password and your security token
}

r = requests.post(sf_endpoint, params=params)
access_token = r.json().get("access_token")
instance_url = r.json().get("instance_url")
print("Access Token:", access_token)
print("Instance URL", instance_url)

In [ ]:
def sf_api_call(action, parameters = {}, method = "get", data = {}):
    # Helper function to make calls to Salesforce REST API.
    # Parameters: action (the URL), URL params, method (get, post or patch),
    # data for POST/PATCH.
    headers = {
        'Content-type': 'application/json',
        'Accept-Encoding': 'gzip',
        'Authorization': 'Bearer %s' % access_token
    }
    if method == 'get':
        r = requests.request(method, instance_url+action, headers=headers, params=parameters)
    elif method in ['post', 'patch']:
        r = requests.request(method, instance_url+action, headers=headers, json=data, params=parameters)
    else:
        # other methods not implemented in this example
        raise ValueError('Method should be get or post or patch.')
    print('Debug: API %s call: %s' % (method, r.url) )
    if r.status_code < 300:
        if method=='patch':
            return None
        else:
            return r.json()
    else:
        raise Exception('API error when calling %s : %s' % (r.url, r.content))

In [ ]:
engine = create_engine(f"mysql://{remote_gwsis_dbuser}:{remote_gwsis_dbpwd}@{remote_db_endpoint}:{remote_db_port}/{remote_gwsis_dbname}")
conn = engine.connect()

In [ ]:
NFL_data = pd.read_sql("SELECT * FROM Final", conn)
NFL_data.head(32)

In [ ]:
for index, row in NFL_data.iterrows():
    call = sf_api_call('/services/data/v40.0/sobjects/NFL_Data__c/', method="post", data={
        'Subscribers__c': row['Subs'],
        'Team__c': row['Team'],
        'Stadium_City__c': row['Stadium City'],
        'Real_City__c': row['Real City'],
        'Value_B__c': row['Value ($B)'],
        'Revenue_M__c': row['Revenue ($M)'],
        'Operating_Income_M__c': row['Operating Income ($M)'],
        'Population_2016__c': row['Population (2016)'],
        'Team_Age__c': row['Team Age']
    })