In [80]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import time
import pandas as pd
import requests

In [81]:
# WINDOWS/PC - Import splinter and set the cromedriver path
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# MAC - Import splinter and set the cromedriver path
#executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
#browser = Browser('chrome', **executable_path, headless=False)

# Scraping Subreddits for Subscriber Count

In [82]:
subreddits = ["AZCardinals", "falcons", "ravens", "buffalobills", "panthers","CHIBears", "bengals", "Browns",
              "cowboys", "DenverBroncos", "detroitlions", "GreenBayPackers", "Texans", "Colts", "Jaguars",
              "KansasCityChiefs", "miamidolphins", "minnesotavikings", "Patriots", "Saints", "NYGiants", "nyjets",
              "oaklandraiders", "eagles", "steelers", "LosAngelesRams", "Chargers", "49ers", "Seahawks", 
              "buccaneers", "Tennesseetitans", "Redskins"]

subcounts = []

In [83]:
for sub in subreddits:
    time.sleep(1)
    url = f"https://www.reddit.com/r/{sub}"
    browser.visit(url)
    time.sleep(1)
    html = browser.html
    soup = bs(html, "html.parser")
    subscribers = int(float(soup.find("p", class_="s1bd5ppi-10").text.split("k")[0])*1000)
    dictionary = {"Subreddit URL (https://www.reddit.com/r/)":sub, "Subs":subscribers}
    subcounts.append(dictionary)

In [85]:
df = pd.DataFrame(subcounts)
teams = pd.read_csv("Teams.csv")

In [86]:
combined = pd.merge(df, teams, on="Subreddit URL (https://www.reddit.com/r/)")
combined = combined.drop(["Subreddit URL (https://www.reddit.com/r/)"], axis=1)
combined.head(32)

,Subs,Team,Stadium City,Real City
0,31700,Arizona Cardinals,"Glendale, Arizona","Phoenix, Arizona"
1,47400,Atlanta Falcons,"Atlanta, Georgia","Atlanta, Georgia"
2,36000,Baltimore Ravens,"Baltimore, Maryland","Baltimore, Maryland"
3,36700,Buffalo Bills,"Orchard Park, New York","Buffalo, New York"
4,36900,Carolina Panthers,"Charlotte, North Carolina","Charlotte, North Carolina"
5,62500,Chicago Bears,"Chicago, Illinois","Chicago, Illinois"
6,37800,Cincinnati Bengals,"Cincinnati, Ohio","Cincinnati, Ohio"
7,53300,Cleveland Browns,"Cleveland, Ohio","Cleveland, Ohio"
8,63500,Dallas Cowboys,"Arlington, Texas","Dallas, Texas"
9,51700,Denver Broncos,"Denver, Colorado","Denver, Colorado"
10,50900,Detroit Lions,"Detroit, Michigan","Detroit, Michigan"
11,99000,Green Bay Packers,"Green Bay, Wisconsin","Green Bay, Wisconsin"
12,36300,Houston Texans,"Houston, Texas","Houston, Texas"
13,32600,Indianapolis Colts,"Indianapolis, Indiana","Indianapolis, Indiana"
14,31100,Jacksonville Jaguars,"Jacksonville, Florida","Jacksonville, Florida"
15,47700,Kansas City Chiefs,"Kansas City, Missouri","Kansas City, Missouri"
16,33200,Miami Dolphins,"Miami Gardens, Florida","Miami, Florida"
17,73500,Minnesota Vikings,"Minneapolis, Minnesota","Minneapolis, Minnesota"
18,172000,New England Patriots,"Foxborough, Massachusetts","Boston, Massachusetts"
19,39300,New Orleans Saints,"New Orleans, Louisiana","New Orleans, Louisiana"
20,50200,New York Giants,"East Rutherford, New Jersey","New York City, New York"
21,33500,New York Jets,"East Rutherford, New Jersey","New York City, New York"
22,34400,Oakland Raiders,"Oakland, California","Oakland, California"
23,150000,Philadelphia Eagles,"Philadelphia, Pennsylvania","Philadelphia, Pennsylvania"
24,60000,Pittsburgh Steelers,"Pittsburgh, Pennsylvania","Pittsburgh, Pennsylvania"
25,72700,Los Angeles Rams,"Los Angeles, California","Los Angeles, California"
26,30100,Los Angeles Chargers,"Carson, California","Los Angeles, California"
27,63300,San Francisco 49ers,"Santa Clara, California","San Francisco, California"
28,72200,Seattle Seahawks,"Seattle, Washington","Seattle, Washington"
29,24800,Tampa Bay Buccaneers,"Tampa, Florida","Tampa, Florida"
30,27000,Tennessee Titans,"Nashville, Tennessee","Nashville, Tennessee"
31,35800,Washington Redskins,"Landover, Maryland","Washington, DC"

In [87]:
combined.to_csv("TeamsSubs.csv", index=False, header=True)

# Scraping Team Values

In [88]:
values_url = "https://www.reddit.com/r/nfl/comments/9hflml/forbes_nfl_2018_team_valuations_most_valuable/"

In [89]:
tables = pd.read_html(values_url)
tables

[                    Team Value(Billions) Revenue(Millions)  \
 0         Dallas Cowboys              $5              $864
 1   New England Patriots            $3.8              $593
 2        New York Giants            $3.3              $493
 3       Los Angeles Rams            $3.2              $366
 4    Washington Redskins            $3.1              $491
 5    San Francisco 49ers           $3.05              $470
 6          Chicago Bears            $2.9              $431
 7          New York Jets           $2.85              $443
 8         Houston Texans            $2.8              $464
 9    Philadelphia Eagles           $2.75              $458
 10        Denver Broncos           $2.65              $427
 11     Green Bay Packers          $2.625              $434
 12       Atlanta Falcons            $2.6              $451
 13      Baltimore Ravens           $2.59              $417
 14   Pittsburgh Steelers          $2.585              $415
 15      Seattle Seahawks           $2.58              $413
 16        Miami Dolphins          $2.575              $414
 17       Oakland Raiders           $2.42              $335
 18     Minnesota Vikings            $2.4              $408
 19    Indianapolis Colts           $2.38              $373
 20     Carolina Panthers            $2.3              $396
 21  Los Angeles Chargers          $2.275              $346
 22     Arizona Cardinals           $2.15              $380
 23    Kansas City Chiefs            $2.1              $380
 24  Jacksonville Jaguars           $2.08              $391
 25    New Orleans Saints          $2.075              $413
 26      Tennessee Titans           $2.05              $371
 27  Tampa Bay Buccaneers              $2              $383
 28      Cleveland Browns           $1.95              $375
 29    Cincinnati Bengals            $1.8              $359
 30         Detroit Lions            $1.7              $361
 31         Buffalo Bills            $1.6              $364

    Operating Income(Millions)[Profit]
 0                                $365
 1                                $235
 2                                $149
 3                                 $68
 4                                $122
 5                                $106
 6                                $100
 7                                $130
 8                                $161
 9                                $114
 10                               $106
 11                                $62
 12                               $113
 13                               $107
 14                                $85
 15                                $71
 16                                $56
 17                                $24
 18                                $90
 19                                $67
 20                                $62
 21                                $48
 22                                $74
 23                                $60
 24                                $63
 25                               $115
 26                                $48
 27                                $88
 28                                $31
 29                                $60
 30                               $4.1
 31                                $67  ]

In [90]:
values_df = tables[0]
values_df.columns = ["Team", "Value ($B)", "Revenue ($M)", "Operating Income ($M)"]

In [91]:
values_combined = pd.merge(combined, values_df, on="Team")
values_combined.head(32)

,Subs,Team,Stadium City,Real City,Value ($B),Revenue ($M),Operating Income ($M)
0,31700,Arizona Cardinals,"Glendale, Arizona","Phoenix, Arizona",$2.15,$380,$74
1,47400,Atlanta Falcons,"Atlanta, Georgia","Atlanta, Georgia",$2.6,$451,$113
2,36000,Baltimore Ravens,"Baltimore, Maryland","Baltimore, Maryland",$2.59,$417,$107
3,36700,Buffalo Bills,"Orchard Park, New York","Buffalo, New York",$1.6,$364,$67
4,36900,Carolina Panthers,"Charlotte, North Carolina","Charlotte, North Carolina",$2.3,$396,$62
5,62500,Chicago Bears,"Chicago, Illinois","Chicago, Illinois",$2.9,$431,$100
6,37800,Cincinnati Bengals,"Cincinnati, Ohio","Cincinnati, Ohio",$1.8,$359,$60
7,53300,Cleveland Browns,"Cleveland, Ohio","Cleveland, Ohio",$1.95,$375,$31
8,63500,Dallas Cowboys,"Arlington, Texas","Dallas, Texas",$5,$864,$365
9,51700,Denver Broncos,"Denver, Colorado","Denver, Colorado",$2.65,$427,$106
10,50900,Detroit Lions,"Detroit, Michigan","Detroit, Michigan",$1.7,$361,$4.1
11,99000,Green Bay Packers,"Green Bay, Wisconsin","Green Bay, Wisconsin",$2.625,$434,$62
12,36300,Houston Texans,"Houston, Texas","Houston, Texas",$2.8,$464,$161
13,32600,Indianapolis Colts,"Indianapolis, Indiana","Indianapolis, Indiana",$2.38,$373,$67
14,31100,Jacksonville Jaguars,"Jacksonville, Florida","Jacksonville, Florida",$2.08,$391,$63
15,47700,Kansas City Chiefs,"Kansas City, Missouri","Kansas City, Missouri",$2.1,$380,$60
16,33200,Miami Dolphins,"Miami Gardens, Florida","Miami, Florida",$2.575,$414,$56
17,73500,Minnesota Vikings,"Minneapolis, Minnesota","Minneapolis, Minnesota",$2.4,$408,$90
18,172000,New England Patriots,"Foxborough, Massachusetts","Boston, Massachusetts",$3.8,$593,$235
19,39300,New Orleans Saints,"New Orleans, Louisiana","New Orleans, Louisiana",$2.075,$413,$115
20,50200,New York Giants,"East Rutherford, New Jersey","New York City, New York",$3.3,$493,$149
21,33500,New York Jets,"East Rutherford, New Jersey","New York City, New York",$2.85,$443,$130
22,34400,Oakland Raiders,"Oakland, California","Oakland, California",$2.42,$335,$24
23,150000,Philadelphia Eagles,"Philadelphia, Pennsylvania","Philadelphia, Pennsylvania",$2.75,$458,$114
24,60000,Pittsburgh Steelers,"Pittsburgh, Pennsylvania","Pittsburgh, Pennsylvania",$2.585,$415,$85
25,72700,Los Angeles Rams,"Los Angeles, California","Los Angeles, California",$3.2,$366,$68
26,30100,Los Angeles Chargers,"Carson, California","Los Angeles, California",$2.275,$346,$48
27,63300,San Francisco 49ers,"Santa Clara, California","San Francisco, California",$3.05,$470,$106
28,72200,Seattle Seahawks,"Seattle, Washington","Seattle, Washington",$2.58,$413,$71
29,24800,Tampa Bay Buccaneers,"Tampa, Florida","Tampa, Florida",$2,$383,$88
30,27000,Tennessee Titans,"Nashville, Tennessee","Nashville, Tennessee",$2.05,$371,$48
31,35800,Washington Redskins,"Landover, Maryland","Washington, DC",$3.1,$491,$122

In [92]:
values_combined.to_csv("TeamsSubsValues.csv", index=False, header=True)

# Scraping City Populations

In [93]:
cities = values_combined["Real City"].tolist()
cities

['Phoenix, Arizona',
 'Atlanta, Georgia',
 'Baltimore, Maryland',
 'Buffalo, New York',
 'Charlotte, North Carolina',
 'Chicago, Illinois',
 'Cincinnati, Ohio',
 'Cleveland, Ohio',
 'Dallas, Texas',
 'Denver, Colorado',
 'Detroit, Michigan',
 'Green Bay, Wisconsin',
 'Houston, Texas',
 'Indianapolis, Indiana',
 'Jacksonville, Florida',
 'Kansas City, Missouri',
 'Miami, Florida',
 'Minneapolis, Minnesota',
 'Boston, Massachusetts',
 'New Orleans, Louisiana',
 'New York City, New York',
 'New York City, New York',
 'Oakland, California',
 'Philadelphia, Pennsylvania',
 'Pittsburgh, Pennsylvania',
 'Los Angeles, California',
 'Los Angeles, California',
 'San Francisco, California',
 'Seattle, Washington',
 'Tampa, Florida',
 'Nashville, Tennessee',
 'Washington, DC']

In [94]:
cities = [item.replace(", ", "-") for item in cities]
cities = [item.replace("New York City", "New York") for item in cities]
cities = [item.replace(" ", "-") for item in cities]
cities = [item.replace("Nashville-Tennessee", "Nashville-Davidson-Tennessee") for item in cities]
cities = [item.replace("Washington-DC", "Washington-District-of-Columbia") for item in cities]
cities_urls = [item + ".html" for item in cities]
cities_urls

['Phoenix-Arizona.html',
 'Atlanta-Georgia.html',
 'Baltimore-Maryland.html',
 'Buffalo-New-York.html',
 'Charlotte-North-Carolina.html',
 'Chicago-Illinois.html',
 'Cincinnati-Ohio.html',
 'Cleveland-Ohio.html',
 'Dallas-Texas.html',
 'Denver-Colorado.html',
 'Detroit-Michigan.html',
 'Green-Bay-Wisconsin.html',
 'Houston-Texas.html',
 'Indianapolis-Indiana.html',
 'Jacksonville-Florida.html',
 'Kansas-City-Missouri.html',
 'Miami-Florida.html',
 'Minneapolis-Minnesota.html',
 'Boston-Massachusetts.html',
 'New-Orleans-Louisiana.html',
 'New-York-New-York.html',
 'New-York-New-York.html',
 'Oakland-California.html',
 'Philadelphia-Pennsylvania.html',
 'Pittsburgh-Pennsylvania.html',
 'Los-Angeles-California.html',
 'Los-Angeles-California.html',
 'San-Francisco-California.html',
 'Seattle-Washington.html',
 'Tampa-Florida.html',
 'Nashville-Davidson-Tennessee.html',
 'Washington-District-of-Columbia.html']

In [95]:
values_combined['City URL'] = pd.Series(cities_urls)
values_combined.head(32)

,Subs,Team,Stadium City,Real City,Value ($B),Revenue ($M),Operating Income ($M),City URL
0,31700,Arizona Cardinals,"Glendale, Arizona","Phoenix, Arizona",$2.15,$380,$74,Phoenix-Arizona.html
1,47400,Atlanta Falcons,"Atlanta, Georgia","Atlanta, Georgia",$2.6,$451,$113,Atlanta-Georgia.html
2,36000,Baltimore Ravens,"Baltimore, Maryland","Baltimore, Maryland",$2.59,$417,$107,Baltimore-Maryland.html
3,36700,Buffalo Bills,"Orchard Park, New York","Buffalo, New York",$1.6,$364,$67,Buffalo-New-York.html
4,36900,Carolina Panthers,"Charlotte, North Carolina","Charlotte, North Carolina",$2.3,$396,$62,Charlotte-North-Carolina.html
5,62500,Chicago Bears,"Chicago, Illinois","Chicago, Illinois",$2.9,$431,$100,Chicago-Illinois.html
6,37800,Cincinnati Bengals,"Cincinnati, Ohio","Cincinnati, Ohio",$1.8,$359,$60,Cincinnati-Ohio.html
7,53300,Cleveland Browns,"Cleveland, Ohio","Cleveland, Ohio",$1.95,$375,$31,Cleveland-Ohio.html
8,63500,Dallas Cowboys,"Arlington, Texas","Dallas, Texas",$5,$864,$365,Dallas-Texas.html
9,51700,Denver Broncos,"Denver, Colorado","Denver, Colorado",$2.65,$427,$106,Denver-Colorado.html
10,50900,Detroit Lions,"Detroit, Michigan","Detroit, Michigan",$1.7,$361,$4.1,Detroit-Michigan.html
11,99000,Green Bay Packers,"Green Bay, Wisconsin","Green Bay, Wisconsin",$2.625,$434,$62,Green-Bay-Wisconsin.html
12,36300,Houston Texans,"Houston, Texas","Houston, Texas",$2.8,$464,$161,Houston-Texas.html
13,32600,Indianapolis Colts,"Indianapolis, Indiana","Indianapolis, Indiana",$2.38,$373,$67,Indianapolis-Indiana.html
14,31100,Jacksonville Jaguars,"Jacksonville, Florida","Jacksonville, Florida",$2.08,$391,$63,Jacksonville-Florida.html
15,47700,Kansas City Chiefs,"Kansas City, Missouri","Kansas City, Missouri",$2.1,$380,$60,Kansas-City-Missouri.html
16,33200,Miami Dolphins,"Miami Gardens, Florida","Miami, Florida",$2.575,$414,$56,Miami-Florida.html
17,73500,Minnesota Vikings,"Minneapolis, Minnesota","Minneapolis, Minnesota",$2.4,$408,$90,Minneapolis-Minnesota.html
18,172000,New England Patriots,"Foxborough, Massachusetts","Boston, Massachusetts",$3.8,$593,$235,Boston-Massachusetts.html
19,39300,New Orleans Saints,"New Orleans, Louisiana","New Orleans, Louisiana",$2.075,$413,$115,New-Orleans-Louisiana.html
20,50200,New York Giants,"East Rutherford, New Jersey","New York City, New York",$3.3,$493,$149,New-York-New-York.html
21,33500,New York Jets,"East Rutherford, New Jersey","New York City, New York",$2.85,$443,$130,New-York-New-York.html
22,34400,Oakland Raiders,"Oakland, California","Oakland, California",$2.42,$335,$24,Oakland-California.html
23,150000,Philadelphia Eagles,"Philadelphia, Pennsylvania","Philadelphia, Pennsylvania",$2.75,$458,$114,Philadelphia-Pennsylvania.html
24,60000,Pittsburgh Steelers,"Pittsburgh, Pennsylvania","Pittsburgh, Pennsylvania",$2.585,$415,$85,Pittsburgh-Pennsylvania.html
25,72700,Los Angeles Rams,"Los Angeles, California","Los Angeles, California",$3.2,$366,$68,Los-Angeles-California.html
26,30100,Los Angeles Chargers,"Carson, California","Los Angeles, California",$2.275,$346,$48,Los-Angeles-California.html
27,63300,San Francisco 49ers,"Santa Clara, California","San Francisco, California",$3.05,$470,$106,San-Francisco-California.html
28,72200,Seattle Seahawks,"Seattle, Washington","Seattle, Washington",$2.58,$413,$71,Seattle-Washington.html
29,24800,Tampa Bay Buccaneers,"Tampa, Florida","Tampa, Florida",$2,$383,$88,Tampa-Florida.html
30,27000,Tennessee Titans,"Nashville, Tennessee","Nashville, Tennessee",$2.05,$371,$48,Nashville-Davidson-Tennessee.html
31,35800,Washington Redskins,"Landover, Maryland","Washington, DC",$3.1,$491,$122,Washington-District-of-Columbia.html

In [96]:
populations = []

for city in cities_urls:
    pop_url = f"http://www.city-data.com/city/{city}"
    browser.visit(pop_url)
    time.sleep(1)
    pop_html = browser.html
    pop_soup = bs(pop_html, "html.parser")
    population = int(float(pop_soup.find("section", class_="city-population").text.split(":")[1].strip().replace(",","")))
    pop_dictionary = {"City URL":city, "Population (2016)":population}
    populations.append(pop_dictionary)

In [98]:
pop_df = pd.DataFrame(populations)
final_df = pd.merge(values_combined, pop_df, on="City URL")
values_pop_df = final_df.drop(["City URL"], axis=1)
values_pop_df.head(32)

,Subs,Team,Stadium City,Real City,Value ($B),Revenue ($M),Operating Income ($M),Population (2016)
0,31700,Arizona Cardinals,"Glendale, Arizona","Phoenix, Arizona",$2.15,$380,$74,1615041
1,47400,Atlanta Falcons,"Atlanta, Georgia","Atlanta, Georgia",$2.6,$451,$113,472506
2,36000,Baltimore Ravens,"Baltimore, Maryland","Baltimore, Maryland",$2.59,$417,$107,614664
3,36700,Buffalo Bills,"Orchard Park, New York","Buffalo, New York",$1.6,$364,$67,256908
4,36900,Carolina Panthers,"Charlotte, North Carolina","Charlotte, North Carolina",$2.3,$396,$62,842029
5,62500,Chicago Bears,"Chicago, Illinois","Chicago, Illinois",$2.9,$431,$100,2704965
6,37800,Cincinnati Bengals,"Cincinnati, Ohio","Cincinnati, Ohio",$1.8,$359,$60,298802
7,53300,Cleveland Browns,"Cleveland, Ohio","Cleveland, Ohio",$1.95,$375,$31,385810
8,63500,Dallas Cowboys,"Arlington, Texas","Dallas, Texas",$5,$864,$365,1317942
9,51700,Denver Broncos,"Denver, Colorado","Denver, Colorado",$2.65,$427,$106,693060
10,50900,Detroit Lions,"Detroit, Michigan","Detroit, Michigan",$1.7,$361,$4.1,672829
11,99000,Green Bay Packers,"Green Bay, Wisconsin","Green Bay, Wisconsin",$2.625,$434,$62,105142
12,36300,Houston Texans,"Houston, Texas","Houston, Texas",$2.8,$464,$161,2304388
13,32600,Indianapolis Colts,"Indianapolis, Indiana","Indianapolis, Indiana",$2.38,$373,$67,852506
14,31100,Jacksonville Jaguars,"Jacksonville, Florida","Jacksonville, Florida",$2.08,$391,$63,880623
15,47700,Kansas City Chiefs,"Kansas City, Missouri","Kansas City, Missouri",$2.1,$380,$60,481360
16,33200,Miami Dolphins,"Miami Gardens, Florida","Miami, Florida",$2.575,$414,$56,453584
17,73500,Minnesota Vikings,"Minneapolis, Minnesota","Minneapolis, Minnesota",$2.4,$408,$90,413645
18,172000,New England Patriots,"Foxborough, Massachusetts","Boston, Massachusetts",$3.8,$593,$235,672840
19,39300,New Orleans Saints,"New Orleans, Louisiana","New Orleans, Louisiana",$2.075,$413,$115,391495
20,50200,New York Giants,"East Rutherford, New Jersey","New York City, New York",$3.3,$493,$149,8537673
21,50200,New York Giants,"East Rutherford, New Jersey","New York City, New York",$3.3,$493,$149,8537673
22,33500,New York Jets,"East Rutherford, New Jersey","New York City, New York",$2.85,$443,$130,8537673
23,33500,New York Jets,"East Rutherford, New Jersey","New York City, New York",$2.85,$443,$130,8537673
24,34400,Oakland Raiders,"Oakland, California","Oakland, California",$2.42,$335,$24,419987
25,150000,Philadelphia Eagles,"Philadelphia, Pennsylvania","Philadelphia, Pennsylvania",$2.75,$458,$114,1567872
26,60000,Pittsburgh Steelers,"Pittsburgh, Pennsylvania","Pittsburgh, Pennsylvania",$2.585,$415,$85,303624
27,72700,Los Angeles Rams,"Los Angeles, California","Los Angeles, California",$3.2,$366,$68,3976324
28,72700,Los Angeles Rams,"Los Angeles, California","Los Angeles, California",$3.2,$366,$68,3976324
29,30100,Los Angeles Chargers,"Carson, California","Los Angeles, California",$2.275,$346,$48,3976324
30,30100,Los Angeles Chargers,"Carson, California","Los Angeles, California",$2.275,$346,$48,3976324
31,63300,San Francisco 49ers,"Santa Clara, California","San Francisco, California",$3.05,$470,$106,870887

In [99]:
values_pop_df.to_csv("TeamsSubsValuesPops.csv", index=False, header=True)

# Scraping Team Ages

In [100]:
ages_url = "https://en.wikipedia.org/wiki/National_Football_League"

In [101]:
ages_tables = pd.read_html(ages_url)
ages_tables

[                                                 0  \
 0   Upcoming season or competition: 2019 NFL draft
 1                                              NaN
 2                                         Formerly
 3                                            Sport
 4                                          Founded
 5                                 Inaugural season
 6                                     Commissioner
 7                                     No. of teams
 8                                          Country
 9                                     Headquarters
 10                          Most recentchampion(s)
 11                                     Most titles
 12                                   TV partner(s)
 13                                Official website

                                                     1
 0                                                 NaN
 1                                                 NaN
 2   American Professional Football Conference (192...
 3                                   American football
 4                    August 20, 1920; 98 years ago[1]
 5                                                1920
 6                                       Roger Goodell
 7                                                  32
 8                                    United States[A]
 9                                       New York City
 10                    New England Patriots(6th title)
 11                    Green Bay Packers(13 titles)[B]
 12         CBSFoxNBCESPNNFL NetworkTelemundo Deportes
 13                                        www.nfl.com  ,
                                           0
 0  Map all coordinates using: OpenStreetMap
 1        Download coordinates as: KML · GPX,
                                                     0  \
 0                                        Division[57]
 1                        American Football Conference
 2                                                East
 3                                      Miami Dolphins
 4                                New England Patriots
 5                                       New York Jets
 6                                               North
 7                                  Cincinnati Bengals
 8                                    Cleveland Browns
 9                                 Pittsburgh Steelers
 10                                              South
 11                                Indianapolis Colts*
 12                               Jacksonville Jaguars
 13                                  Tennessee Titans*
 14                                               West
 15                                Kansas City Chiefs*
 16                              Los Angeles Chargers*
 17                                   Oakland Raiders*
 18                       National Football Conference
 19                                               East
 20                                    New York Giants
 21                                Philadelphia Eagles
 22                               Washington Redskins*
 23                                              North
 24                                     Detroit Lions*
 25                                  Green Bay Packers
 26                                  Minnesota Vikings
 27                                              South
 28                                  Carolina Panthers
 29                                 New Orleans Saints
 30                               Tampa Bay Buccaneers
 31                                               West
 32                                  Los Angeles Rams*
 33                                San Francisco 49ers
 34                                   Seattle Seahawks
 35  * denotes that the club has relocated at some ...

                               1                                 2  \
 0                      Club[57]                              City
 1                           NaN                               NaN
 2                 Buffalo Bills            Orchard Park, New York
 3        Miami Gardens, Florida                 Hard Rock Stadium
 4     Foxborough, Massachusetts                  Gillette Stadium
 5   East Rutherford, New Jersey                MetLife Stadium[C]
 6              Baltimore Ravens               Baltimore, Maryland
 7              Cincinnati, Ohio                Paul Brown Stadium
 8               Cleveland, Ohio               FirstEnergy Stadium
 9      Pittsburgh, Pennsylvania                       Heinz Field
 10               Houston Texans                    Houston, Texas
 11        Indianapolis, Indiana                 Lucas Oil Stadium
 12        Jacksonville, Florida                TIAA Bank Field[E]
 13         Nashville, Tennessee                    Nissan Stadium
 14               Denver Broncos                  Denver, Colorado
 15        Kansas City, Missouri                 Arrowhead Stadium
 16           Carson, California     Dignity Health Sports Park[F]
 17          Oakland, California   Oakland–Alameda County Coliseum
 18                          NaN                               NaN
 19               Dallas Cowboys                  Arlington, Texas
 20  East Rutherford, New Jersey                MetLife Stadium[C]
 21   Philadelphia, Pennsylvania           Lincoln Financial Field
 22           Landover, Maryland                        FedExField
 23              Chicago Bears*†                 Chicago, Illinois
 24            Detroit, Michigan                        Ford Field
 25         Green Bay, Wisconsin                     Lambeau Field
 26       Minneapolis, Minnesota                 U.S. Bank Stadium
 27              Atlanta Falcons                  Atlanta, Georgia
 28    Charlotte, North Carolina           Bank of America Stadium
 29       New Orleans, Louisiana           Mercedes-Benz Superdome
 30               Tampa, Florida             Raymond James Stadium
 31          Arizona Cardinals*†                 Glendale, Arizona
 32      Los Angeles, California  Los Angeles Memorial Coliseum[F]
 33      Santa Clara, California                    Levi's Stadium
 34          Seattle, Washington                 CenturyLink Field
 35                          NaN                               NaN

                                3  \
 0                    Stadium[58]
 1                            NaN
 2                  New Era Field
 3                          64767
 4                          65878
 5                          82500
 6               M&T Bank Stadium
 7                          65515
 8                          67895
 9                          68400
 10                   NRG Stadium
 11                         67000
 12                         67814
 13                         69143
 14  Broncos Stadium at Mile High
 15                         76416
 16                         27000
 17                         56057
 18                           NaN
 19                  AT&T Stadium
 20                         82500
 21                         69176
 22                         82000
 23                 Soldier Field
 24                         65000
 25                         81441
 26                         66860
 27         Mercedes-Benz Stadium
 28                         75523
 29                         73208
 30                         65618
 31            State Farm Stadium
 32                         78500
 33                         68500
 34                         69000
 35                           NaN

                                                 4  \
 0                                        Capacity
 1                                             NaN
 2                                           71608
 3     25°57′29″N 80°14′20″W﻿ / ﻿25.958°N 80.239°W
 4     42°05′28″N 71°15′50″W﻿ / ﻿42.091°N 71.264°W
 5     40°48′50″N 74°04′26″W﻿ / ﻿40.814°N 74.074°W
 6                                           71008
 7     39°05′42″N 84°30′58″W﻿ / ﻿39.095°N 84.516°W
 8     41°30′22″N 81°41′56″W﻿ / ﻿41.506°N 81.699°W
 9     40°26′49″N 80°00′58″W﻿ / ﻿40.447°N 80.016°W
 10                                          71995
 11    39°45′36″N 86°09′50″W﻿ / ﻿39.760°N 86.164°W
 12    30°19′26″N 81°38′17″W﻿ / ﻿30.324°N 81.638°W
 13    36°09′58″N 86°46′16″W﻿ / ﻿36.166°N 86.771°W
 14                                          76125
 15    39°02′56″N 94°29′02″W﻿ / ﻿39.049°N 94.484°W
 16  33°51′50″N 118°15′40″W﻿ / ﻿33.864°N 118.261°W
 17  37°45′07″N 122°12′04″W﻿ / ﻿37.752°N 122.201°W
 18                                            NaN
 19                                          80000
 20    40°48′50″N 74°04′26″W﻿ / ﻿40.814°N 74.074°W
 21    39°54′04″N 75°10′05″W﻿ / ﻿39.901°N 75.168°W
 22    38°54′29″N 76°51′50″W﻿ / ﻿38.908°N 76.864°W
 23                                          61500
 24    42°20′24″N 83°02′46″W﻿ / ﻿42.340°N 83.046°W
 25    44°30′04″N 88°03′43″W﻿ / ﻿44.501°N 88.062°W
 26    44°58′26″N 93°15′29″W﻿ / ﻿44.974°N 93.258°W
 27                                          71000
 28    35°13′34″N 80°51′11″W﻿ / ﻿35.226°N 80.853°W
 29    29°57′04″N 90°04′52″W﻿ / ﻿29.951°N 90.081°W
 30    27°58′34″N 82°30′11″W﻿ / ﻿27.976°N 82.503°W
 31                                          63400
 32  34°00′50″N 118°17′17″W﻿ / ﻿34.014°N 118.288°W
 33  37°24′11″N 121°58′12″W﻿ / ﻿37.403°N 121.970°W
 34  47°35′42″N 122°19′55″W﻿ / ﻿47.595°N 122.332°W
 35                                            NaN

                                                 5                       6  \
 0                                     Coordinates        First season[59]
 1                                             NaN                     NaN
 2     42°46′26″N 78°47′13″W﻿ / ﻿42.774°N 78.787°W  1960 (AFL), 1970 (NFL)
 3                          1966 (AFL), 1970 (NFL)            Brian Flores
 4                          1960 (AFL), 1970 (NFL)          Bill Belichick
 5                          1960 (AFL), 1970 (NFL)               Adam Gase
 6     39°16′41″N 76°37′23″W﻿ / ﻿39.278°N 76.623°W                 1996[D]
 7                          1968 (AFL), 1970 (NFL)              Zac Taylor
 8                      1946 (AAFC), 1950 (NFL)[D]        Freddie Kitchens
 9                                            1933             Mike Tomlin
 10    29°41′06″N 95°24′40″W﻿ / ﻿29.685°N 95.411°W                    2002
 11                                           1953             Frank Reich
 12                                           1995            Doug Marrone
 13                         1960 (AFL), 1970 (NFL)             Mike Vrabel
 14  39°44′38″N 105°01′12″W﻿ / ﻿39.744°N 105.020°W  1960 (AFL), 1970 (NFL)
 15                         1960 (AFL), 1970 (NFL)               Andy Reid
 16                         1960 (AFL), 1970 (NFL)            Anthony Lynn
 17                         1960 (AFL), 1970 (NFL)              Jon Gruden
 18                                            NaN                     NaN
 19    32°44′53″N 97°05′35″W﻿ / ﻿32.748°N 97.093°W                    1960
 20                                           1925             Pat Shurmur
 21                                           1933           Doug Pederson
 22                                           1932              Jay Gruden
 23    41°51′47″N 87°37′01″W﻿ / ﻿41.863°N 87.617°W                    1920
 24                                           1930           Matt Patricia
 25                                           1921            Matt LaFleur
 26                                           1961             Mike Zimmer
 27    33°45′18″N 84°24′04″W﻿ / ﻿33.755°N 84.401°W                    1966
 28                                           1995              Ron Rivera
 29                                           1967             Sean Payton
 30                                           1976            Bruce Arians
 31  33°31′41″N 112°15′47″W﻿ / ﻿33.528°N 112.263°W                    1920
 32                  1936 (Second AFL), 1937 (NFL)              Sean McVay
 33                        1946 (AAFC), 1950 (NFL)           Kyle Shanahan
 34                                           1976            Pete Carroll
 35                                            NaN                     NaN

                   7
 0        Head coach
 1               NaN
 2    Sean McDermott
 3               NaN
 4               NaN
 5               NaN
 6     John Harbaugh
 7               NaN
 8               NaN
 9               NaN
 10     Bill O'Brien
 11              NaN
 12              NaN
 13              NaN
 14       Vic Fangio
 15              NaN
 16              NaN
 17              NaN
 18              NaN
 19    Jason Garrett
 20              NaN
 21              NaN
 22              NaN
 23        Matt Nagy
 24              NaN
 25              NaN
 26              NaN
 27        Dan Quinn
 28              NaN
 29              NaN
 30              NaN
 31  Kliff Kingsbury
 32              NaN
 33              NaN
 34              NaN
 35              NaN  ,
       0         1          2           3          4
 0   POS  NFC East  NFC North   NFC South   NFC West
 1   1st    Eagles    Vikings      Saints       Rams
 2   2nd   Cowboys      Lions    Panthers   Seahawks
 3   3rd  Redskins    Packers     Falcons  Cardinals
 4   4th    Giants      Bears  Buccaneers      49ers
 5   NaN       NaN        NaN         NaN        NaN
 6   POS  AFC East  AFC North   AFC South   AFC West
 7   1st  Patriots   Steelers     Jaguars     Chiefs
 8   2nd     Bills     Ravens      Titans   Chargers
 9   3rd  Dolphins    Bengals       Colts    Raiders
 10  4th      Jets     Browns      Texans    Broncos,
     0                                                  1
 0 NaN  Wikimedia Commons has media related to Nationa...,
     0                                                  1
 0 NaN  Wikivoyage has a travel guide for American Foo...,
                                                    0   \
 0                  vteNational Football League (2019)
 1                                                 AFC
 2   EastNorthSouthWest Buffalo Bills Miami Dolphin...
 3                                                East
 4   Buffalo Bills Miami Dolphins New England Patri...
 5                                                 NFC
 6   EastNorthSouthWest Dallas Cowboys New York Gia...
 7                                                East
 8   Dallas Cowboys New York Giants Philadelphia Ea...
 9   Seasons Seasons (by team) Preseason Hall of Fa...
 10                                            Seasons
 11                                            History
 12                                           Business
 13                                              Other
 14  EastNorthSouthWest Buffalo Bills Miami Dolphin...
 15                                               East
 16  Buffalo Bills Miami Dolphins New England Patri...
 17                                               East
 18  Buffalo Bills Miami Dolphins New England Patri...
 19  EastNorthSouthWest Dallas Cowboys New York Gia...
 20                                               East
 21  Dallas Cowboys New York Giants Philadelphia Ea...
 22                                               East
 23  Dallas Cowboys New York Giants Philadelphia Ea...
 24                                            Seasons
 25                                            History
 26                                           Business
 27                                              Other

                                                    1   \
 0                                                 NaN
 1   EastNorthSouthWest Buffalo Bills Miami Dolphin...
 2                                                East
 3                                               North
 4   Baltimore Ravens Cincinnati Bengals Cleveland ...
 5   EastNorthSouthWest Dallas Cowboys New York Gia...
 6                                                East
 7                                               North
 8   Chicago Bears Detroit Lions Green Bay Packers ...
 9                                             Seasons
 10  Seasons (by team) Preseason Hall of Fame Game ...
 11  League history Executive history Championship ...
 12  Owners Properties Management Council Competiti...
 13  Officials Stadiums Chronology Awards All-Pro H...
 14                                               East
 15                                              North
 16  Baltimore Ravens Cincinnati Bengals Cleveland ...
 17                                              North
 18  Baltimore Ravens Cincinnati Bengals Cleveland ...
 19                                               East
 20                                              North
 21  Chicago Bears Detroit Lions Green Bay Packers ...
 22                                              North
 23  Chicago Bears Detroit Lions Green Bay Packers ...
 24  Seasons (by team) Preseason Hall of Fame Game ...
 25  League history Executive history Championship ...
 26  Owners Properties Management Council Competiti...
 27  Officials Stadiums Chronology Awards All-Pro H...

                                                    2   \
 0                                                 NaN
 1   EastNorthSouthWest Buffalo Bills Miami Dolphin...
 2                                               North
 3                                               South
 4   Houston Texans Indianapolis Colts Jacksonville...
 5   EastNorthSouthWest Dallas Cowboys New York Gia...
 6                                               North
 7                                               South
 8   Atlanta Falcons Carolina Panthers New Orleans ...
 9   Seasons (by team) Preseason Hall of Fame Game ...
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                              North
 15                                              South
 16  Houston Texans Indianapolis Colts Jacksonville...
 17                                              South
 18  Houston Texans Indianapolis Colts Jacksonville...
 19                                              North
 20                                              South
 21  Atlanta Falcons Carolina Panthers New Orleans ...
 22                                              South
 23  Atlanta Falcons Carolina Panthers New Orleans ...
 24                                                NaN
 25                                                NaN
 26                                                NaN
 27                                                NaN

                                                    3   \
 0                                                 NaN
 1                                                East
 2                                               South
 3                                                West
 4   Denver Broncos Kansas City Chiefs Los Angeles ...
 5                                                East
 6                                               South
 7                                                West
 8   Arizona Cardinals Los Angeles Rams San Francis...
 9                                             History
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                              South
 15                                               West
 16  Denver Broncos Kansas City Chiefs Los Angeles ...
 17                                               West
 18  Denver Broncos Kansas City Chiefs Los Angeles ...
 19                                              South
 20                                               West
 21  Arizona Cardinals Los Angeles Rams San Francis...
 22                                               West

In [113]:
ages_df = ages_tables[2]
ages_df = ages_df[["Club[57]", "First season[59]"]]
ages_df.columns = ["Team", "Founded"]
years = ages_df["Founded"].tolist()
years = [item[:4] for item in years]
del years[16]
years = years[:-1]
years = [int(item) for item in years]

KeyError: "['Club[57]' 'First season[59]'] not in index"

In [103]:
teams = ages_df["Team"].tolist()
del teams[16]
del teams[32]

KeyError: 'Team'

In [ ]:
cleanteams = []

for foo in teams:
    try:
        team = foo.split("*")[0]
        cleanteams.append(team)
    except:
        cleanteams.append(foo)

In [ ]:
import datetime
currentyear = datetime.date.today().year

teamages = []

for x in years:
    teamage = currentyear - x
    teamages.append(teamage)

In [ ]:
ages_df = pd.DataFrame({
    "Team": cleanteams,
    "Team Age": teamages
})

In [ ]:
ages_df.head(32)

In [ ]:
final_df = pd.merge(values_pop_df, ages_df, on="Team")
final_df.head(32)